<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body>
  <form action="/user/new" method="post">
    <label for="name">Name</label>
    <input id="name" type="text" placeholder="Name" name="name"><br>
    <label for="email">Email</label>
    <input id="email" type="email" placeholder="Email" name="email"><br>
    <label for="phone">Phone Number*</label>
    <input id="phone" type="tel" placeholder="(555)555-5555" name="phone"><br>
    <label for="password">Password</label>
    <input id="password" type="password" name="password1"><br>
    <label for="password-confirm">Confirm Password</label>
    <input id="password-confirm" type="password" name="password2"><br>
    <input type="submit" value="Create Account">
  </form>
  <p class="caveat"><i>*US numbers only</i></p>
</body>
</html>